
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
bin/ptAssignment/Client_20056663.class
bin/ptAssignment/Expense_20056663.class
bin/ptAssignment/Property_20056663.class
bin/ptAssignment/PropertyMain_20056663$1.class
bin/ptAssignment/PropertyMain_20056663.class
bin/ptAssignment/Rents_20056663.class
bin/sdasda.class
src/sdasda.java
src/20056663_AliSalman_300581_Project.zip.zip
